p {
    margin: 0;
}

img {
    align-self: center;
}

#page-container {
    display: flex;
    flex-direction: column;
}

#search-container {
    display: flex;
    justify-content: center;
    padding-top: 2%;
}

#search-input {
    width: 25%;
    min-width: 300px;
    padding: 10px;
}

#current-container {
    display: flex;
    justify-content: center;
}

#current-left-column {
    text-align: center;
    margin-right: 2%;
    align-self: center;
}

#current-right-column {
    margin-left: 2%;
    align-self: center;
}

#current-temp {
    font-size: 2em;
}