body {
    margin: 0;
}

p {
    margin: 0;
}

img {
    align-self: center;
}

#page-container {
    display: flex;
    flex-direction: column;
}

#search-container {
    display: flex;
    justify-content: center;
    padding-top: 1%;
}

#search-input {
    width: 25%;
    min-width: 300px;
    padding: 10px;
}

#current-container {
    display: flex;
    justify-content: center;
    margin: 1% 0 1% 0;
    padding: 1%;
}

#current-left-column {
    text-align: center;
    margin-right: 2%;
    align-self: center;
}

#current-right-column {
    margin-left: 2%;
    align-self: center;
}

#current-temp {
    font-size: 2em;
}

table {
    border-collapse: collapse;
    text-align: center;
}

table, td {
    border: 1px solid black;
}

#daily-container {
    display: flex;
    justify-content: center;
}